<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/bacon">
        <img alt="baconMan"class="baconMan img-rounded" src="/assets/images/baconMan.png">
      </a>
      <a href="/bacon"> 
      	<h1 class= "brand-text">Bacon's List</h1>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=" navbar-menu"><a href="/buy">BUY <span class="sr-only">(current)</span></a></li>
        <li class= "navbar-menu"><a href="/sell">SELL</a></li>
         <li class= "navbar-menu"><a href="/trade">TRADE</a></li>
        <li class="dropdown navbar-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="navbar-menu"><a href="#">HOME GOODS</a></li>
            <li class="navbar-menu"><a href="#">ELECTRONICS</a></li>
            <li class="navbar-menu"><a href="#">AUTOMOTIVE</a></li>
            <li role="separator" class="divider navbar-menu"></li>
            <li class="navbar-menu"><a href="#">Separated link</a></li>
            <li role="separator" class="divider navbar-menu"></li>
            <li class="navbar-menu"><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control navbar-menu navbar-search" placeholder="What to buy?">
        </div>
        <button type="submit" class="btn btn-default navbar-btn">SEARCH</button>
      </form>
      <button type="button" class="btn btn-default navbar-btn navbar-right" id="sign-in-btn">
      	<i class="fa fa-facebook-square"></i>SIGN IN
      </button>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<img class="baconstrips" src="/assets/images/bacon.png" alt="bacon" />
		</div>
		<div class="clearFloat">
		</div>
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each bacon}}
			  	{{#unless this.sold}}
				<div class="col-xs-9 text-center">
					<pre>{{this.item_id}}. {{this.item_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-xs-3 text-center">
					<form method="POST" action="/bacon/update?_method=PUT" class="button-size">
						<input input type="hidden" type="text" name="bacon_id" value={{this.item_id}}><br>
						<button class="buy-it-btn-color" type="submit" class="btn btn-warning">Buy it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  
		</div>
	</div>
</div>

<div class="container">
</div>
