<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/bacon"><img alt="baconMan" class="baconMan img-rounded" src="/assets/images/baconMan.png"></a> <a href="/bacon">
				<h1 class="brand-text">Bacon's List</h1></a>
			</div>
		</div><!-- /.navbar-collapse -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center" id="top-bar"></div>
			<div class="clearFloat"></div>
		</div>
	</div>
	<div>
		<h2 id="welcome">Welcome to Bacon's List!</h2>
		<h4 id="h41">This is a site for the bacon enthusiast.  Buy and sell great bacon-themed products.</h4>
		<h4 id="h42">See what we have to offer by clicking the login button below.</h4>




	</div>
<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=122804275120497";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>	
</body>
</html>