<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/bacon"><img alt="baconMan" class="baconMan img-rounded" src="/assets/images/baconMan.png"></a> <a href="/bacon">
        <h1 class="brand-text">Bacon's List</h1></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=" navbar-menu">
            <a href="/buy">BUY <span class="sr-only">(current)</span></a>
          </li>
          <li class="navbar-menu">
            <a href="/sell">SELL</a>
          </li>
        </ul><button class="btn btn-default navbar-btn navbar-right signout-btn" id="signout" type="button">SIGN OUT</button> <button class="btn btn-default navbar-btn navbar-right" id="sign-in-btn" type="button"><i class="fa fa-facebook-square"></i>SIGN IN</button>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center" id="top-bar"></div>
      <div class="clearFloat"></div>
      <div class="task"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center enter_section">
        <form action="/bacon/create" class="form-horizontal" method="post">
          <fieldset>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="item_name">Item Name</label>
              <div class="col-lg-10">
                <input class="form-control" id="item_name" name="item_name" type="text" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="item_price">Item Price</label>
              <div class="col-lg-10">
                <input class="form-control" id="item_price" min="0.00" name="item_price" step="0.01" type="number" value="0.00">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="item_description">Item Description</label>
              <div class="col-lg-10">
                <textarea class="form-control" id="item_description" name="item_description" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="item_image">Item Image</label>
              <div class="col-lg-10">
                <input class="form-control" id="item_image" name="item_image" type="text" value="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default" type="reset">Cancel</button> <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
        <p class="sellPageMessage">Enter a bacon you want to sell, then click "Submit".</p>
      </div>
    </div>
  </div>
  <script>
  $("#sign-in-btn").html(localStorage.getItem("name"));
  </script>
</body>
</html>