body {
  background-color: #B34348;
}

#top-bar {
  margin: 5px;
  display: inline-block;
  float: left;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

#text-enter-button {
  border: 1px solid #9A213A;
}

#text-enter-button:hover {
  border: 1px solid #CC6657;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

.buy-it-btn-color {
  background-color:#E58966;
  color: #9A213A;
  border-radius: 25px;
}

.navbar-header {
  background color: #E58966;
}

.navbar-brand {
  padding:0;
  margin:0;
}

.baconMan {
  width: 50px;
  height: 50px;
  border-radius: 35%;
}

.clearFloat {
  clear:both;
}

.brand-text {
  height: 40px;
  display: inline;
  font-family: Kanit;
  font-size: 30px;
  margin-left: 8px;
}

.baconstrips {
  height: 140px;
  width: 140px;
  float:right;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
  color: #9A213A;
}

h1 {
  font-size: 2em;
  color: #9A213A;
  margin: 15px;
}

.navbar-menu {
  font-family: Roboto;
  font-weight: bold;
  color: #9A213A;
}

.navbar .nav > li > a {
  font-family: Roboto;
  font-weight: bold;
  color: #9A213A;
  transition-duration: 0.4s;
}

.navbar .nav > li > a:hover {
  font-family: Roboto;
  font-weight: bold;
  color: #FFAC75;
}

input[type=text] {
  width: 100%;
  padding: 6px 20px;
  box-sizing: border-box;
  border: 1px solid #9A213A;
  border-radius: 4px;
}

.navbar-search::placeholder {
  color: #9A213A; 
}

.navbar-search {
  color: #9A213A; 
}

.sell-search {
 color: #9A213A; 
}

.navbar-btn {
  border: 1px solid #9A213A;
  color: #9A213A;
}

.navbar-btn:hover {
  border: 1px solid #CC6657;
}

.sellPageMessage {
  color: #FFAC75;
}

.login-text {
  margin: 0 auto;
  padding: 40px 0px 50px 300px;
}

.fb-login-button {
  margin: 20px 0px 80px 500px;
}

#welcome {
  font-size: 4em;
  color: #FFAC75;
}

#h41 {
  color: #E58966;
  text-shadow: black;
}

#h42 {
  color: #E58966;
  text-shadow: black;
}

.baconMan-login-img {
  height: 250px;
  width: 250px;
}

.signout-btn {
  margin-left: 10px;
}

.itemContainer {
  background-color: white;
  margin: 10px 10px;
}
